<div class="background-favorites">

  <!--========== Favoris-2 ( _favorites) ==========-->
  <div class="lower-dishes m-5">
    <div class="row">
      <% @favorites_dish.each do |dish| %>
        <div class="dishes-card">
          <%= link_to dish_path(dish.id) do %>
            <div class="dish-img">
              <%= cl_image_tag dish.photo.key, width: 140, height: 140, crop: :fill, class: "bd-placeholder-img rounded-circle" %>
            </div>
            <div class="dish-title"><%= dish.name %></div>
            <%= link_to dish_menu_dishes_path(dish), class:"button favoris__button", data:{turbo_method: :post}  do %>
              <%# <i class='bx bx-cart-alt'></i> %>
              <i class="fa-regular fa-calendar-plus"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!--========== Favoris ( _card )==========-->
  <div class="favorites-container my-3 mx-3">
    <%# <h3>My Favorites</h3> %>
      <div class="row">
        <% @favorites_dish.each do |dish| %>
          <div class="col-sm-4 my-3">
            <%= link_to dish_path(dish.id) do %>
              <div class="card-dishes">
                <%= cl_image_tag dish.photo.key, width: 140, height: 140, crop: :fill, class: "bd-placeholder-img rounded-circle" %>
                <div class="card-dish-name"><h3><%= dish.name %></h3></div>
                <%= link_to dish_menu_dishes_path(dish), class:"button favoris__button", data:{turbo_method: :post}  do %>
                  <%# <i class='bx bx-cart-alt'></i> %>
                  <i class="fa-regular fa-calendar-plus fa-2x"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>

</div>
