<div data-controller="sortable" data-sortable-url="/dishes/:dish_id/menu_dishes/:id/move">
  <div class="container-menu_dish my-3 mx-3">

      <div class="lower-dishes" data-sortable-target="list">
        <% if current_user.menu_dishes_not_positionned.present? %>
          <% current_user.menu_dishes_not_positionned.each do |menu_dish| %>
            <%= render "card", menu_dish: menu_dish %>
          <% end %>
        <% end %>
      </div>

  </div>

  <br>

  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="calendar-header-column" scope="col"></th>
          <th class="calendar-header-column" scope="col">Monday</th>
          <th class="calendar-header-column" scope="col">Tuesday</th>
          <th class="calendar-header-column" scope="col">Wednesday</th>
          <th class="calendar-header-column" scope="col">Thurday</th>
          <th class="calendar-header-column" scope="col">Friday</th>
          <th class="calendar-header-column" scope="col">Saturday</th>
          <th class="calendar-header-column" scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr class="calendar-row">
          <th class="calendar-header-row" scope="row" >Lunch</th>
          <td class="calendar-slot" data-sortable-target="list" data-position="1">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(1) if current_user.find_menu_dish_from_position(1).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="2">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(2) if current_user.find_menu_dish_from_position(2).present?%>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="3">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(3) if current_user.find_menu_dish_from_position(3).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="4">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(4) if current_user.find_menu_dish_from_position(4).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="5">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(5) if current_user.find_menu_dish_from_position(5).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="6">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(6) if current_user.find_menu_dish_from_position(6).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="7">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(7) if current_user.find_menu_dish_from_position(7).present? %>
          </td>
        </tr>
        <tr class="calendar-row">
          <th class="calendar-header-row" scope="row">Dinner</th>
          <td class="calendar-slot" data-sortable-target="list" data-position="8">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(8) if current_user.find_menu_dish_from_position(8).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="9">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(9) if current_user.find_menu_dish_from_position(9).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="10">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(10) if current_user.find_menu_dish_from_position(10).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="11">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(11) if current_user.find_menu_dish_from_position(11).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="12">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(12) if current_user.find_menu_dish_from_position(12).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="13">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(13) if current_user.find_menu_dish_from_position(13).present? %>
          </td>
          <td class="calendar-slot" data-sortable-target="list" data-position="14">
            <%= render "card", menu_dish: current_user.find_menu_dish_from_position(14) if current_user.find_menu_dish_from_position(14).present? %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mdl-tabs__panel" id="tab2-panel">
      <img src='https://media.giphy.com/media/bGmzbqDKcmvyU/giphy.gif' alt='Luffy the Pirate king' height='150'>
    </div>
  </div>
</div>
