Constructeur de menu dans le dashboard avec calendar
  drag drop "semainier" de mes menus

<div class="row">
  <div class="col-md-3">
    <h3>Dishes</h3>
    <ul id="dishes-list">
    <% if @dishes %>
      <% @dishes.each do |dish| %>
        <li class="draggable" data-dish-id="<%= dish.id %>"><%= dish.name %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <h3>Menu for the week</h3>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
      </thead>
      <tbody>
        <% (0..23).each do |hour| %>
          <tr>
            <th><%= hour %>:00</th>
            <% (1..7).each do |day| %>
              <td class="droppable" data-hour="<%= hour %>" data-day="<%= day %>"></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
