<div class="banner">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "1.jpg" %>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>UNCOOK</h1>
            <h3>Sign up and start organizing your meals!</h3>
            <p>Join our community and access exclusive features to make meal planning a breeze</p>
            <%= link_to "Sign up now", "#", class: "btn btn-flat" %>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <%= image_tag "2.jpg" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Explore our dishes list</h1>
            <p>Find your next favorite dish among our curated collection of recipes for every occasion</p>
            <%= link_to "View dishes", "/dishes", class: "btn btn-flat" %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "3.jpg" %>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Simplify your grocery shopping</h1>
            <p>Create a shopping list from your weekly meal plan and save time and money at the store.</p>
            <%= link_to "Create your shopping list", "#", class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <h1 style="text-align: center">Get Ready to Savor Our Weekly Meal Selection</h1><br>
  <section class="hero-section">
    <div class="card-grid">
      <% @dishes.each do |dish| %>
        <%= link_to dish_path(dish), class: "card" do %>
          <%= cl_image_tag dish.photo.key, crop: :fill, class: "card__background" %>
          <div class="card__content">
            <p class="card__category"><h2><%= dish.name %></h2></p>
            <p class="card__heading"><%= dish.description.html_safe %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<!-- START THE FEATURETTES -->
<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Find the perfect meals to satisfy your cravings <span class="text-muted">and impress your loved ones</span></h2>
      <p class="lead">Welcome to our meal planning app! Our mission is to make meal planning and grocery shopping as simple and enjoyable as possible. With our extensive selection of mouth-watering recipes, you can easily find the perfect dishes to suit your tastes and preferences. Whether you're looking for easy weeknight meals or impressive dishes for special occasions, our recipe library has got you covered. Browse our collection and discover new favorites that you'll want to make again and again!</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class:"imghome", alt: "Vegetables", width: "500", height: "500"  %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Stay on top of your busy schedule <span class="text-muted">with a custom meal plan for the week</span></h2>
      <p class="lead">We understand that planning your weekly meals can be a daunting task, which is why we've made it easy and stress-free. With our app, you can easily organize your favorite meals into a weekly meal plan that fits your schedule and lifestyle. Whether you prefer to cook every night or batch cook on the weekends, our app makes it easy to stay on track and avoid the last-minute scramble. With just a few clicks, you can plan your meals for the week and be prepared for whatever life throws your way.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag "https://images.pexels.com/photos/768472/pexels-photo-768472.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class:"imghome", alt:"this is a dish", width:"500", height:"500" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Shop with confidence knowing you have everything you need <span class="text-muted">for your weekly meals</span></h2>
      <p class="lead text-justify">We know that grocery shopping can be a hassle, which is why we've created a personalized shopping list that makes it easy and stress-free. After creating your weekly meal plan, our app generates a custom shopping list that includes all the ingredients you need for the week. Say goodbye to the days of wandering the grocery store aisles and wondering what to buy. With our app, you can shop with confidence, knowing that you have everything you need for your meals. Plus, with a shopping list that's tailored to your needs, you'll save time and money by avoiding unnecessary purchases and trips to the store.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "https://images.pexels.com/photos/3985055/pexels-photo-3985055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class: "imghome", alt:"this is a dish", width:"500", height:"500" %>
    </div>
  </div>
</div>
