<div class= "container text-center p-5">
  <div class ="mt-5"><h1>Dishes</h1></div>
  <%# <%= link_to "Add a new dishes", new_dishes_path %>
</div>

<div data-search-dishes-target="list", class="row text-center p-5" >
  <% @dishes.each do |dish| %>
    <div class="col-lg-4">
      <%= cl_image_tag dish.photo.key, width: 140, height: 140, crop: :fill, class: "bd-placeholder-img rounded-circle" %>
      <h2><%= dish.name %></h2>
      <p><%= dish.numpers %> serving</p>
      <p><%= dish.description.html_safe %></p>
      <p><a class="btn btn-secondary" href="/dishes/<%= dish.id %>">Recipe &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  <% end %>
</div>
