<div class= "container">
  <h1>Dishes</h1>
  <%# <%= link_to "Add a new dishes", new_dishes_path %>
</div>

<div class = "m-5">
  <% @dishes.each do |dish| %>
    <h2><%= dish.name %></h2>
      <p><%= dish.description %></p>
      <h5>Recipie</h5>
      <p><%= dish.recipie %></p>
      <p>This recipie is made for <strong><%= dish.numpers %></strong> people</p>
      <%= link_to "See details", dish_path(dish), class: "btn btn-primary"%>
  <% end %>
</div>

Now we can see the dishes in the index page.
